* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 1rem;
  font-family: 'Poppins', 'Tahoma';
}

ul{
  list-style: none;
}

li a{
  padding: 1rem 2rem;
  display: inline-block;
  background: #f1f1f1;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1);
  border-radius: 2rem;
  transition: transform 1s;
  cursor: pointer;
}

li a:hover{
  transform: scale(1.1);
}